/* Hero.css */
.hero-section {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  background: url('/path/to/your/image.jpg') center/cover no-repeat;
  color: white;
  padding: 0 20px;
  box-sizing: border-box; */

  margin-left: 80px;
  /* height: 150vh; */
  top: 222px; 
}

.hero-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 700;
  line-height: 60.94px;
  text-align: left;
  margin-top: 150px;
}

.hero-subtitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 25px;
  color: #505258;
}

.hero-button {
  margin-top: 51px;
  padding: 5px 26px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  background: linear-gradient(90deg, rgba(243, 255, 171, 0.72) 0%, #FF7A00 100%);
  box-shadow: 0px 8px 8px -4px #FF7A00, 0px 4px 6px -4px #FF7A00;
  color: white;
  cursor: pointer;
  margin-left: 25px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.hero-button:hover {
  background: linear-gradient(90deg, rgba(255, 218, 121, 0.72) 0%, #FF5500 100%);
  box-shadow: 0px 8px 16px -4px #FF5500, 0px 4px 12px -4px #FF5500;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .hero-title, .hero-subtitle, .hero-button {
    margin-left: 80px;
    
  }
}

@media (max-width: 992px) {
  .hero-title, .hero-subtitle, .hero-button {
    margin-left: 200px;
  }

  .hero-title {
    font-size: 42px;
    line-height: 50px;
    margin-top: 212px;
  }

  .hero-subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .hero-title, .hero-subtitle, .hero-button {
    margin-left: 9PX;
    
  }

  .hero-title {
    font-size: 36px;
    line-height: 44px;
    margin-top: 212px;
  }

  .hero-subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 576px) {
  .hero-section {
    align-items: center;
    text-align: center;
  }

  .hero-title, .hero-subtitle, .hero-button {
    margin-left: 9px;
  }

  .hero-title {
    font-size: 30px;
    line-height: 36px;
    
    margin-top: 212px;
  }

  .hero-subtitle {
    font-size: 12px;
    line-height: 14px;
  }

  .hero-button {
    margin-top: 30px;
  }
}
